**/__pycache__
**/.venv
**/.env
**/.git
**/.gitignore
**/.dockerignore
**/.vscode
**/.mypy_cache
**/.ruff_cache
**/.pytest_cache
**/Dockerfile*
**/docker-compose*
**/compose*
**/*.egg-info
**/dist
**/node_modules
tests/
data/
script_old/
